* {
    --my-background: #ed161f;
    --my_black: black;
    --my_orange: orange;
}
header,
footer,
div,
nav {
    box-shadow: 0 0 5px 0 var(--my_black);
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    height: 25%;
    background: var(--my-background);
    align-items: center;
    display: flex;
    flex-direction: row;
}
section {
    min-height: 50%;
    display: flex;
    flex-direction: row;
}

footer {
    height: 25%;
    background: var(--my-background);
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

ul {
    margin-left: 20px;
    line-height: 30px;
    list-style: circle;
}

li {
    margin-left: 30px;
    text-align: left;
}

.inner-header {
    background: var(--white);
    border: solid 2px var(--my_black);
    box-shadow: 0 0 40px 0 var(--my_black);
    width: 25%;
    padding: 5px;
    margin-left: 25px;
}

.center-bar {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.inner-footer {
    background: var(--white);
    border: solid 2px var(--my_black);
    box-shadow: 0 0 40px 0 var(--my_black);
    width: 25%;
    padding: 5px;
    float: right;
    margin: 20px;
}

.left-side-bar {
    width: 33.3%;
    min-width: 500px;
    background: var(--my-orange);
}

.right-side-bar {
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

.right-side-bar-upper {
    height: 75%;
    background: var(--my-orange);
}

.right-side-bar-lower {
    height: 25%;
    background: var(--semi-white);
}

.up-side-bar {
    height: 25%;
    background: var(--semi-white);
}

.container {
    height: 75%;
    background: var(--white);
}

.image-link-text {
    line-height: 100px;
    list-style: none;
}

.html5-img {
    margin-top: 20px;
}

a {
    color: var(--my-green-yellow);
}

a:visited {
    color: var(--my-green);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

img {
    animation: spin 5s linear 0.2s infinite;
    margin-left: 40px;
}

.header-text {
    color: var(--white);
    font-size: 30px;
    width: 75%;
}

.header-text > p {
    text-align: right;
}
